.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.searchContainer {
  margin-bottom: 1em;
}

.searchContainer {
  margin-bottom: 30px;
}
