body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
input::placeholder,
textarea::placeholder {
  font-family: "Merriweather", serif;
}

input:focus,
textarea:focus {
  outline: none;
}
a,
div button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
}
a:hover,
nav button:hover {
  color: white;
}
form {
  width: 40%;
  margin: 0 auto;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}
input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.8em;
  background-color: transparent;
}
.btn {
  background-color: #871889;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  font-weight: bold;
  border: none;
  font-size: 1em;
}
.btn.btn-dark {
  background-color: black;
  border-radius: 0;
}
.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: black;
  border: 1px solid #000;
}
.btn:hover {
  background-color: #151515;
  color: white;
}
.btn.btn-outline:hover {
  background-color: #000;
}
.btn.btn-danger:hover {
  background-color: #dc35d9;
}
button[disabled] {
  background-color: #aaa;
}
.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5d6cb;
  padding: 5px;
  border-radius: 5px;
}
